* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppins, sans-serif;
}

ul {
    list-style: none;
}

ul li {
    padding: 0px 20px;
    position: relative;
}

ul li a {
    text-decoration: none;
}

ul li:hover::before {
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid yellow;
    position: absolute;
    transition: all 3s ease 0s;
}

header#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    padding: 0px 89px;
    position: fixed;
    width: 100%;
    z-index: 11;
    border-bottom: 1px solid white;
}

nav#nav ul {
    display: flex;
}

span.logo__title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

ul li a {
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.home {
    background-image: url("../img/bg-home.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(27, 5, 13, 0.68);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.home__title {
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 750px;
    z-index: 2;
}

.home__title h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 2px;
    color: white;
}

.home__title p {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: normal;
    margin-top: 30px;
    color: antiquewhite;
}

section#welcome {
    height: 48.66vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;
    padding: 0px 8.75rem;
}

img {
    max-width: 100%;
}

.wel-title h3 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.063rem;
    position: relative;
}

.wel-title h3::before {
    content: "";
    left: 0px;
    top: 12px;
    position: absolute;
    width: 11%;
    height: 100%;
    border-bottom: 2px solid black;
}

.wel-title {
    width: 33.375rem;
}

.wel-title p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: normal;
    margin-top: 4rem;
    color: rgb(138, 129, 129);
}

section.Responsive {
    display: flex;
    padding: 3.56rem 8.75rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(245, 245, 245);
}

.Responsive__Retina i {
    font-size: 56px;
    color: #6a7da7;
    margin-bottom: 26px;
}

.Responsive__Retina span,
.item__text span {
    margin: 0px 0px 2rem;
    font-size: 1rem;
    font-family: "PT Serif", serif;
    font-style: italic;
    font-weight: 400;
    color: rgb(153, 153, 153);
}

.Responsive__Retina h4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
}

.Responsive__Retina p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: normal;
    margin-top: 1rem;
    color: rgb(64, 60, 60);
    position: relative;
}

.Responsive__Retina {
    width: 30%;
    padding: 20px;
}

.Feature {
    display: flex;
    padding: 3.56rem 13.75rem;
    justify-content: center;
    flex-wrap: wrap;
}

.icon__contact {
    display: flex;
    text-align: right;
    margin-bottom: 56px;
}

.icon__contact2 {
    display: flex;
    text-align: left;
    margin-bottom: 56px;
}

.featire__box {
    width: 33%;
    padding: 10px;
}

.phone img {
    margin-left: 23%;
}

.wel-img {
    margin-bottom: 40px;
}

.icont i {
    font-size: 22px;
    color: white;
    background: #576f9f;
    padding: 21px;
    border-radius: 50%;
}

.icont__title h3 {
    font-size: 1rem;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #333;
}

.icont__title {
    margin: 0 40px 0 40px;
}

.icont__title p {
    margin-top: .5rem;
    margin-bottom: 0;
    color: #999;
}

.Feature__title {
    margin: 0 auto;
    text-align: center;
    width: 33.375rem;
}

.Feature__title h3,
.item__text h4 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.063rem;
    position: relative;
}

.Feature__title p,
.item__text h4 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: normal;
    margin-top: 1rem;
    color: rgb(138, 129, 129);
}

section.Feature__home {
    margin: 71px 0;
}

section.demos__itame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.width__item {
    width: 50%;
    text-align: center;
}

.item__text {
    padding: 14.2rem;
    background: #e8e8e8;
}

.video {
    margin: 30px 0;
}

section.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
    /* flex-wrap: nowrap; */
}

.codes {
    width: 33%;
    text-align: center;
    padding: 20px;
}

.codes1 {
    background: #515875;
}

.codes2 {
    background: #586e9e;
}

.codes3 {
    background: #6697b8;
}

.codes4 {
    background: #87c4d7;
}

.codes i {
    font-size: 58px;
    color: white;
    font-weight: lighter;
    padding: 20px;
}

.codes h2 {
    font-size: 42px;
    font-weight: 600;
    color: white;
    margin: 32px 0;
    position: relative;
}

.codes h2::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 176px;
    width: 19%;
    height: 100%;
    border-bottom: 1px solid #757571;
}

.codes h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

section.services-item2 {
    display: flex;
    flex-wrap: wrap;
    padding: 3.56rem 13.75rem;
}

.t-item {
    width: 33%;
}

@media only screen and (max-width: 700px) {
    header#header {
        flex-direction: column;
    }
    section#welcome {
        flex-direction: column;
    }
    section.Responsive {
        flex-direction: column;
        padding: 0.56rem 6.75rem;
    }
    .Responsive__Retina {
        width: 100%;
        padding: 20px;
    }
    .Feature {
        flex-direction: column;
        padding: 3.56rem 3.75rem;
    }
    .featire__box {
        width: 100%;
        padding: 10px;
    }
    section.demos__itame {
        flex-direction: column;
    }
    .item__text {
        padding: 2.2rem;
    }
    .width__item {
        width: 100%;
    }
    section.service {
        flex-direction: column;
    }
    .codes {
        width: 100%;
    }
    section.services-item2 {
        flex-direction: column;
        padding: 3.56rem 4.75rem;
    }
    .t-item {
        width: 100%;
    }
}